@import '../../../sass/h5ds/var.scss';

.uebox-tel{
    input{
        background: #252a2e;
        height: 40px;
        width: 100%;
        overflow: auto;
        color: $blue1;
        text-indent: 10px;
    }
}