
.plus{
    background: #222;

    .slider{
        width: 1300px;
        height: 380px;
        background: #fff;
        margin: 10px auto;
    }

    .list{
        width: 1300px;
        overflow: hidden;
        margin: 0 auto;

        .ul-list{
            width: 1320px;
        }
        .item{
            float: left;
            display: inline-block;
            width: 287px;
            height: 320px;
            margin: 0 18px 18px 0;
            background: #000;
        }
    }
}