@import '../../../sass/h5ds/var.scss';
// ...
.uebox-topages{
    h4{
        color: $blue1;
        font-size: 14px;
    }
    li{
        cursor: pointer;
        display: inline-block;
        margin: 10px 10px 0 0;
        width: 90px;
        height: 40px;
        padding: 5px;
        text-align: center;
        color: $blue1;
        background: $blue5;
        span{
            display: block;
        }
        .name{
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &.active{
            background: $yellow;
            color: #fff;
        }
    }
}