<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 自定义 meta-->
    [[include './_meta.html']]
    <title>[[block 'title']]点石H5在线编辑器[[/block]]</title>
    <!-- 自定义header -->
    [[block 'header']] [[/block]]
    <!-- 自定义header结束 -->
</head>

<body>
    <!-- 自定义 header-->
    [[include './_header.html']]
    <!-- main area -->
    [[block 'body']] [[/block]]
    <!-- block footer -->

    <!-- 自定义 footer -->
    [[include './_footer.html']]
    <!-- 自定义 footer -->
    [[block 'footer']] [[/block]]
    <!-- 自定义footer结束 -->
</body>

</html>
