@import '../../../sass/h5ds/var.scss';

.ex-set-text{
    padding: 10px 0;
    border-top: 1px solid $blue4;
    /*  按钮 */
    .ex-btns{
        line-height: 30px;
        a{
            color: $blue1;
            vertical-align: middle;
            margin: 0 2px;
        }
        .mt-input{
            width: 78px;
        }
        .line{
            display: inline-block;
            height: 19px;
            width: 1px;
            background: $blue4;
            margin: 0 1px;
        }
        .mt-select-diy{
            width: 230px;
        }
    }

    .ex-btn-fontcolor{
        position: relative;
        width: 16px;
        height: 21px;
    }

    /*  富文本框 */
    .ex-text-edit{
        background: $blue4;
        height: 160px;
        overflow: auto;
        #exTextEdit{
            height: 100%;
            outline: none;
        }
    }
}