@import './var.scss';

.fastMenu{
	float:left;
	width:50px;
	height:100%;
	background:$blue4;
	color:$blue1;
	text-align:center;
	h5{
		line-height: 30px;
	}
	a{
		color: $blue1;
		display: inline-block;
		line-height: 30px;
		width: 100%;
		.iconfont{
			font-size: 18px;
		}
		&.active{
			background:$blue3;
		}
	}

	.fastlist{
		width: 350px;
		position:absolute;
		height: 100%;
		left: 50px;
		background:$blue3;
		top: 0;
		overflow: auto;
		z-index: 1100;
		display: none;
		h4{
			margin:10px;
			text-align: left;
			font-size: 14px;
		}
		ul{
			margin-left: 10px;
		}
		li{
			float: left;
			width: 60px;
			height: 50px;
			background:$blue4;
			margin:0 5px 5px 0;
			padding-top:10px;
			cursor: pointer;
			.iconfont{
				font-size: 20px;
			}
			span{
				display: block;
				font-size: 12px;
			}
			&:hover{
				color:$white;
				background: $yellow;
			}
		}
	}

}