@import './var.scss';
.left{
	position: absolute;
	width: 140px;
	top: 60px;
	left: 0;
	bottom: 0;
	background: $blue3;
	z-index: 1000;

	.left-btn{
		position:absolute;
		top: 0;
		width: 100%;
		height: 30px;
		font-size: 12px;
		text-align: center;
		line-height: 29px;
		border-top:1px solid $blue3;
		color: $blue1;
		li{
			display: inline-block;
			height: 30px;
			width: 33.333%;
			background:$blue4;
			&.mt-active{
				background:$yellow;
				color: $white;
			}
		}
	}
	.left-pages{
		position:absolute;
		top: 31px;
		bottom:0;
		width: 100%;
		left: 0;
		overflow: hidden;
		overflow-y:scroll;
		padding-bottom:20px;
	}
}
