@import './var.scss';

.publish{
	display:inline-block;
	vertical-align:middle;
	float:right;
	margin:17px 20px 0 0;
	position: relative;
	z-index: 100;
	.logout{
		padding-left: 40px;
		color:$blue1;
		font-size:14px;
	}
}