$yellow: #ff5402;
$font: #949494;
$abg: #444749;
$headerBg: #323436;
$border: #ccc;

.login{

}

.form-box{
	width: 300px;
	margin: 0 auto;
	padding: 60px 0;
	padding-bottom: 120px;
	.item{
		margin-top: 20px;
		input{
			height: 40px;
			width: 100%;
			border: 1px solid $border;
			text-indent: 10px;
		}
	}
}

.mt-btn{
	display: inline-block;
	background: $yellow;
	color: #fff;
	padding: 10px 20px;
	&:hover{
		color: #fff;
	}
}
.mt-btn-block{
	display: block;
	text-align: center;
}

.img-code{
	vertical-align: middle;
	height: 41px;
}
#imgcode{
	width: 180px;
	top: 1px;
	right: -5px;
	position: relative;
}