body{
    user-select: initial;
}
@import './footer.scss';
@import './header.scss';

/*  首页  */
@import './index.scss';

/*  插件 */
@import './plus.scss';

/*  注册  */
@import './register.scss';

/*  登录 */
@import './login.scss';

/*  案例 */
@import './case.scss';

/*  帮助 */
@import './help.scss';

/*  404 */
@import './noFind.scss';