/*   */
.footer{
	background: #333333;
	color: #fff;
	.footer-inner{
		position: relative;
		width: 1300px;
		margin: 0 auto;
		height: 220px;
		.links{
			h1{
				font-size: 16px;
				padding: 10px 0;
			}
			padding-right: 200px;
			li{
				display: inline-block;
				margin-right: 20px;
			}
			.copyright{
				font-size: 12px;
				color: #666;
				position: absolute;
				bottom: 20px;
				left: 0;
				right: 0;
				border-top: 1px solid #222;
				padding-top: 20px;
			}
		}
		.qrcode{
			position: absolute;
			top: 0;
			right: 0;
			width: 100px;
			padding-top: 20px;
		}
	}

	.powerby{
		font-size: 12px;
		color: #fff;
		margin-top: 20px;
		display: block;
	}
}