$yellow: #ff5402;
$font: #949494;
$abg: #444749;
$headerBg: #323436;

.header{
	background: #252a2e;
	height: 60px;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	border-bottom: 4px solid $yellow;
	.header-box{
		width: 1300px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.logo{
			margin-top: 10px;
		}
		&:before{
			content: '';
			display: inline-block;
			height: 100%;
			width: 0;
			vertical-align: middle;
		}
	}
	.header-nav{
		float: right;
		height: 100%;
		ul{
			height: 100%;
		}
		li{
			line-height: 56px;
			text-align: center;
			display: inline-block;
			height: 100%;
			font-size: 14px;
			position: relative;
			a{
				color: #a5b6c8;
				display: inline-block;
				height: 100%;
				padding: 0 15px;
			}
			&.active a{
				color: #fff;
				background: $abg;
			}
			em{
				display: inline-block;
				width: 10px;
				height: 10px;
				background: red;
				border-radius: 100px;
				position: absolute;
				right: 5px;
				top: 5px;
			}
		}
	}
}