@import '../../../sass/h5ds/var.scss';

.uebox-links{
    textarea{
        background: #252a2e;
        height: 100px;
        width: 100%;
        overflow: auto;
        color: $blue1;
    }
}
.uebox-tips{
    margin: 10px;
    color: $blue1;
    h5{
        font-size: 14px;
        border-left: 4px solid $yellow;
        text-indent: 10px;
    }
    .uebox-content{
        margin: 10px 0;
        font-size: 14px;
    }
}