<!-- parent  -->
[[extend './shared/_layout.html']] [[block 'title']]插件[[/block]]
<!-- header -->
[[block 'header']]
<link href="/assets/css/main.css" rel="stylesheet"> [[/block]]

<!-- footer -->
[[block 'footer']]
<script src="/assets/js/main.js"></script> [[/block]]
<!-- main -->
[[block 'body']]
<!--bodyer-->
<div class="bodyer plus">
    <div class="slider">

    </div>
    <div class="list">
        <ul class="ul-list clearfix">
            <li class="item">
                <img src="xxxHTMLLINKxxx0.146379159554251630.17478298618391408xxx" alt="">
                <h2>动态表单</h2>
                <div class="rmb">500</div>
                <div class="item-footer">
                    <div class="left">
                        <span class="label">作者：</span>
                        <span class="val">ManTou</span>
                    </div>
                    <div class="right">
                        <span class="label">已售：</span>
                        <span class="val">434</span>
                    </div>
                </div>
            </li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
        </ul>
    </div>
</div>
[[/block]]
