<!-- parent  -->
[[extend './shared/_layout.html']] [[block 'title']]注册[[/block]]
<!-- header -->
[[block 'header']]
<link href="/assets/css/main.css" rel="stylesheet"> [[/block]]

<!-- footer -->
[[block 'footer']]
<script src="/assets/js/main.js"></script> [[/block]]
<!-- main -->
[[block 'body']]
<!--bodyer-->
<div class="bodyer">
    <div class="register">
        <div class="form-box">
            <h1 class="logo">H5DS 注册</h1>
            <!-- <div class="item">
                        <input id="email" type="text" placeholder="邮箱">
                    </div> -->
            <div class="item">
                <input id="tel" type="text" placeholder="手机号">
            </div>
            <div class="item">
                <input id="password" type="password" placeholder="密码">
            </div>
            <div class="item">
                <input id="repassword" type="password" placeholder="重复密码">
            </div>
            <div class="item">
                <img class="img-code" src="/api/imgCode" alt="" />
                <input id="imgcode" type="text" placeholder="请输入验证码">
            </div>
            <div class="item">
                <a id="registerBtn" class="mt-btn mt-btn-block">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</a>
            </div>
            <div class="item">
                已有账号？
                <a href="/login">去登录</a>
            </div>
        </div>
    </div>
</div>
[[/block]]
