@import './var.scss';

.fastbtns{
    position:absolute;
    right: 410px;
    top: 70px;
    width: 100px;
    z-index: 1000;
    text-align: left;
    background: $blue4;
    font-size: 12px;
    h5{
        font-size: 14px;
        color: $blue1;
        text-align: center;
        line-height: 32px;
        background: $blue5;
        cursor: move;
    }
    ul{
        padding: 0 10px;
    }
    li{
        padding: 5px 0;
        cursor: pointer;
        &:hover{
            a{
                color: $yellow;
            }
        }
    }
    a{
        color: #fff;
        display: inline-block;
    }
    span{
        color: $blue1;
    }
    .icon-caidan{
        color: $yellow;
    }
    .iconfont{
        font-size: 14px;
    }
    .bottom-btns{
        border-top: 1px solid $blue5;
        margin-top: 4px;
        .add{
            color: $yellow;
        }
    }
}