@import './var.scss';

.fastbtns{
    position:absolute;
    right: 410px;
    top: 70px;
    width: 100px;
    z-index: 1000;
    text-align: left;
    background: $blue4;
    font-size: 12px;
    h5{
        font-size: 14px;
        color: $blue1;
        text-align: center;
        line-height: 32px;
        background: $blue5;
        cursor: move;
    }
    ul{
        padding: 0 10px;
    }
    li{
        padding: 5px 0;
        cursor: pointer;
        &:hover{
            a{
                color: $yellow;
            }
        }
    }
    a{
        color: #fff;
        display: inline-block;
    }
    span{
        color: $blue1;
    }
    .icon-caidan{
        color: $yellow;
    }
    .iconfont{
        font-size: 14px;
    }
    .left-btns{
        // 设置page 高度
        .set-page-height{
            position: absolute;
            bottom: -30px;
            text-align: center;
            height: 30px;
            width: 100%;
            background: #f3f3f3;
            .iconfont{
                font-size: 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-55%);
                color: $yellow;
                background: #fff;
            }
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: $yellow;
                position: absolute;
                top: 14px;
            }
        }
    }
    .bottom-btns{
        border-top: 1px solid $blue5;
        margin-top: 4px;
        .add{
            color: $yellow;
        }
    }
}