@import './var.scss';

//....
body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
//头部
@import './header.scss';
//左侧
@import './left.scss';
//右侧
@import './right.scss';
//中间
@import './center.scss';
//模版
@import './temps.scss';
//发布
@import './publish.scss';
//手机
@import './phone.scss';
//pages 样式
@import './pages.scss';
//模版中心
@import './tpls.scss';
//快捷区域
@import './fastMenu.scss';
//参数设置区域
@import './setlayer.scss';
//手机编辑器
@import './phonebox.scss';
// 快捷按钮
@import './fastbtns.scss';
//layer list
@import './layerlist.scss';
//source
@import './source.scss';