@import './var.scss';
.right {
    position: absolute;
    top: 60px;
    width: 400px;
    right: 0;
    bottom: 0;
    background: $blue3;
    z-index: 1000;
}

// 组合框
#setLayerGroupBox {
    #setGroupSet{
        li{
            vertical-align: top;
            display: inline-block;
            text-align: center;
            color: $blue1;
            font-size: 12px;
            width: 72px;
            height: 62px;
            padding-top: 10px;
            margin: 4px 4px 0 0;
            background: $blue4;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background: $yellow;
                color: #fff;
            }
            .iconfont{
                font-size: 24px;
            }
            span{
                padding-top: 5px;
                display: block;
            }
        }
    }
}

// 动画
#setAnimate {
    padding: 0;
    background: #1c2023;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    // 动画按钮
    .add-animate-btn {
        height: 65px;
    }
    .mt-btn-animate {
        width: 155px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        display: inline-block;
        margin: 20px 0 0 10px;
        font-size: 14px;
        vertical-align: middle;
    }
    .add-animation {
        background: $yellow;
    }
    .play-animation {
        background: $blue3;
    }
    .mt-tab-box {
        padding: 10px;
    }
    .mt-tab-header {
        background: #1c2023;
        &:after {
            background: none;
        }
        .mt-tab-head {
            border-bottom: 0;
        }
        .mt-active {
            border-bottom: 0;
        }
    }
    .mt-tab-body {
        position: relative;
        top: 0;
        background: $blue3;
    }
    .animation-list {
        font-size: 12px;
        color: $blue1;
        padding: 0 10px;
        span{
            display: inline-block;
        }
        * {
            vertical-align: middle;
        }
        // 325
        .tname{ width: 100px;}
        .ttime{ width: 40px;}
        .tcount{ width: 40px;}
        .tdelay{ width: 40px;}
        .tfun{ width: 80px;}
        .animate-title{
            padding-bottom: 10px;
            font-size: 12px;
            display: none;
            span{
                text-indent: 6px;
            }
        }
        .animation-item {
            margin-bottom: 10px;
            background: #252a2e;
            padding: 7px 5px;
            position: relative;
        }
        .animation-name {
            display: inline-block;
            width: 100%;
            height: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
        }
        input {
            width: 30px;
        }
        em {
            color: $yellow;
            margin: 0 0 0 2px;
        }
        .animation-delete {
            position: absolute;
            right: 5px;
            top: 50%;
            z-index: 100;
            transform: translateY(-50%);
            color: $yellow;
            cursor: pointer;
        }
        .animation-item.active {
            background: $blue5;
        }
    }
    .animates {
        li {
            display: inline-block;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            overflow: hidden;
            margin: 2px;
            font-size: 12px;
            background: $blue2;
            cursor: pointer;
            float: left;
            word-break: break-word;
            &:hover {
                background: $yellow;
                color: #fff;
            }
        }
    }
}

// mp3
#setAppMp3{
    @mixin btn {
        float: right;
        padding: 2px 5px;
        margin: 0 2px;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block
    }
    @keyframes mp3play
    {
    from { height: 2px;}
    to {height: 12px;}
    }
    .mp3-play-iconing{
        i{
            animation-name: mp3play;
            animation-duration: 0.4s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            &:nth-child(1) {
                animation-delay: 0.2s;
            }
            &:nth-child(2) {
                animation-delay: 0.5s;
            }
            &:nth-child(3) {
                animation-delay: 0.1s;
            }
            &:nth-child(4) {
                animation-delay: 0.4s;
            }
        }
    }
    .mp3-play-icon{
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 12px;
        i{
            display: inline-block;
            width: 1px;
            background: $yellow;
            margin-left: 3px;
            &:nth-child(1) {
                height: 3px;
            }
            &:nth-child(2) {
                height: 6px;
            }
            &:nth-child(3) {
                height: 9px;
            }
            &:nth-child(4) {
                height: 12px;
            }
        }
    }
    .now-use{
        padding: 5px;
        font-size: 14px;
        color: $blue1;
        .label{
            vertical-align: middle;
        }
    }
    .now-use-mp3{
        display: inline-block;
        width: 230px;
        vertical-align: middle;
        #appMp3PlayIco {
            vertical-align: middle;
        }
        .name{
            @include btn;
            float: initial;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
        }
        .try{
            @include btn;
        }
        .del{
            @include btn;
        }
    }
    #mp3list{
        margin: 10px 0;
    }
    .item{
        padding: 5px 10px;
        color: $blue1;
        background: $blue4;
        font-size: 12px;
        border-bottom: 1px dashed $blue3;
        &:hover{
            background: $yellow;
            color: #fff;
        }
        .name{
            @include btn;
            float: initial;
        }
        .try{
            @include btn;
        }
        .use{
            @include btn;
        }
    }
}

// loading
#setAppLoading {
    .loaders {
        &:after{ content: ""; display: block; height: 0; clear: both; visibility: hidden; }
    }
    .loader {
        float: left;
        background: $blue4;
        box-sizing: border-box;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 2px;
        vertical-align: middle;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    .active{
        background: $yellow;
    }
}