$blue1: #a5b6c8;
$blue2: #535f6b;
$blue3: #30373f;
$blue4: #252a2e;
$blue5: #0e1113;
$yellow: #ff5402;
$yellow_hover: #f04e00;
$white: #fff;
$bg: #d2d2d2;
// a- 代表功能性的   s- 代表样式性的  g- 代表全局公用
$colorPrimary: #23c6c8;
$hoverPrimary: #23c6c8;
$colorSuccess: #5cb85c;
$hoverSuccess: #5cb85c;
$colorInfo: #32c5d2;
$hoverInfo: #32c5d2;
$colorWarning: #1c84c6;
$hoverWarning: #1c84c6;
$colorDanger: #ff3535;
$hoverDanger: #ff3535;

$boxShadow: 0 0 10px rgba(0, 0, 0, .3);